version: '3'
services:
  nginx:
    container_name: nginx
    image: registry.cn-shenzhen.aliyuncs.com/wenjusir/aju:nginx
    #build:
      #context: ./nginx_php
      #dockerfile: Dockerfile_nginx
    ports:
      - 80:80
      - 443:443
     
    networks:
      - lnmp
    volumes:
      - ./wwwroot:/usr/local/openresty/nginx/html
      - ./nginx_php/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf
      - ./nginx_php/osce.conf:/usr/local/openresty/nginx/conf/vhosts/osce.conf
      - ./nginx_php/ssl:/usr/local/openresty/nginx/conf/ssl      

  php:
    container_name: php7
    image: registry.cn-shenzhen.aliyuncs.com/wenjusir/aju:php7
    #build:
      #context: ./nginx_php
      #dockerfile: Dockerfile_php
    ports:
      - 9000:9000
           
    networks:
      - lnmp
    volumes:
      
      - ./nginx_php/php-fpm.conf:/usr/local/php/etc/php-fpm.conf
      - ./nginx_php/php.ini:/usr/local/php/etc/php.ini
      - ./nginx_php/www.conf:/usr/local/php/etc/php-fpm.d/www.conf

  mysql:
    container_name: mysql5.7
    image: mysql:5.7
    ports:
      - 3306:3306
    networks:
      - lnmp
    volumes:
      - ./mysql/conf:/etc/mysql/conf.d
      - ./mysql/data:/var/lib/mysql
    command: --character-set-server=utf8
    environment:
      MYSQL_ROOT_PASSWORD: 123456@
      #MYSQL_DATABASE: test 
      #MYSQL_USER: user
      #MYSQL_PASSWORD: user123456
  
  redis:
    container_name: redis
    image: registry.cn-shenzhen.aliyuncs.com/wenjusir/aju:redis
    #build:
      #context: ./nginx_tomcat
      #dockerfile: Dockerfile_redis
    ports:
      - 6379:6379
    
    networks:
      - lnmp
    volumes:
      - ./redis:/data
      - ./redis/conf:/usr/local/etc/redis
    command: redis-server --port 6379 --requirepass 123456@ --appendonly yes

networks:
  lnmp: {} 
